@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
}
.baner {
  width: 100%;
  height: 75vh;
}

.naslov {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 22vh;
  gap: 10px;
  font-size: 30px;
  button {
    border: 1px solid rgb(164, 163, 163);
    border-radius: 10px;
    width: 5vw;
    height: 25px;
    background-color: white;
  }
}
.cardsDiv {
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding-bottom: 5vh;
}
.baner2 {
  position: relative;
  width: 100%;
}

.baner2 img {
  width: 100%;
  height: auto;
}

.baner2 h1 {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.baner2 button {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(130, 99, 0, 1);
  border: none;
  border-radius: 10px;
  width: 10vw;
  height: 5.5vh;
  font-size: 3vh;
  font-weight: 600;
}
.baner1 button {
  color: white;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: rgba(130, 99, 0, 1);
  border: none;
  border-radius: 10px;
  width: 10vw;
  height: 5.5vh;
  font-size: 3vh;
  font-weight: 600;
}
.baner1 h1 {
  color: white;
  position: absolute;
  top: 43%;
  left: 30%;
}

.baner1 h2 {
  color: white;
  position: absolute;
  top: 35%;
  left: 30%;
}
.shop {
  display: flex;
  justify-content: center;
  padding: 6vh 0;
}
.service {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  box-shadow: 0px 4px 6px rgba(197, 196, 196, 0.2),
    0px -4px 6px rgba(197, 196, 196, 0.2),
     -4px 0px 6px rgba(197, 196, 196, 0.2),
    4px 0px 6px rgba(197, 196, 196, 0.2);

  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
