.btnFilter{
    margin: 7px;
    background-color: rgb(222, 222, 214);
    color: black;
}
.btnFilter:hover{
    background-color: rgb(163, 163, 142);
}
.shopGlavni{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5vw;
    flex-wrap: wrap;
}